<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cash Register" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="w-full fixed top-0 left-0 bg-white shadow z-10">
      <nav class="container mx-auto px-5 py-4 flex justify-between items-center">
        <%= link_to "Home", root_path, class: "text-xl font-bold text-blue-700 hover:text-blue-900" %>
        <%= link_to "Cart", cart_path(@cart.id), class: "text-lg font-medium text-gray-700 hover:text-blue-700" %>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
